<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>2.5.0</string>
	<key>Editor</key>
	<string>WSL/SLF</string>
	<key>URL</key>
	<string>https://models.slf.ch</string>
	<key>Date</key>
	<date>2015-09-09T10:14:26Z</date>
</dict>
</plist>
