*CMakeFiles/*
**/CMakeFiles/*
**/cmake_install.cmake
meteoio/**/Makefile
lib/*.so*
**/*~

/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/cmake_uninstall.cmake
/bin/meteoio_timeseries
/applications/Makefile
/meteoio/IOHandler.cc
/Makefile
/doc/html/*
install_manifest.txt

#example files and binaries:
/doc/examples/CMakeCache.txt
/doc/examples/Makefile
/doc/examples/2D_interpolations
/doc/examples/coordinates
/doc/examples/data_converter
/doc/examples/dem_reading
/doc/examples/grid2d_reading
/doc/examples/matrix
/doc/examples/meteo_reading
/doc/examples/random_numbers
/doc/examples/statistical_filters
/doc/examples/sun
/doc/examples/time

#editor files:
*.swp
tags
